<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <div  style="background-image: url(img/10.jpg); height: 100%; width: 98%; border: 1px solid black;"> 
                        <h2 align="center" >  Gestionar Personal</h2>
                    </div>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" >

                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>

                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>  
                        <p:submenu label="Inventario">
                            <p:menuitem value="Area" url="../inventario/vArea.xhtml" />
                            <p:menuitem value="Color" url="../inventario/vColor.xhtml" />
                            <p:menuitem value="Marca" url="../inventario/vMarca.xhtml" />
                            <p:menuitem value="U.Medida" url="../inventario/vUnidadmedida.xhtml" />
                            <p:menuitem value="Producto" url="../inventario/vProducto.xhtml" />
                            <p:menuitem value="Nota Salida" url="../inventario/vNotasalida.xhtml" />
                              <p:menuitem value="Sock" url="../inventario/vStock.xhtml" />
                        </p:submenu>
                        <p:submenu label="Compra">
                            <p:menuitem value="Proveedor" url="../compra/vProveedor.xhtml" />
                            <p:menuitem value="Compra" url="../compra/vcompra.xhtml" />
                        </p:submenu>
                        <p:submenu label="Venta">
                            <p:menuitem value="Cliente" url="../venta/vCliente.xhtml" />
                            <p:menuitem value="Venta" url="../venta/vVenta.xhtml" />
                            <p:menuitem value="Factura" url="../venta/vFactura.xhtml" />
                        </p:submenu>
                        <p:submenu label="Personal">
                            <p:menuitem value="Personal" url="../personal/vPersonal.xhtml" />
                        </p:submenu>
                    </p:menu>



                </p:layoutUnit>
                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >

                        <h:form id ="nvpro">


                            <p:panel  id="dlgpro" >
                                <p:growl id="messages" />
                                <table>

                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Nombres :" />
                                    </td>
                                    <td> <p:inputText value="#{bpersonal.nombre}" size="20" placeholder="NOMBRE"  required="true" requiredMessage="INGRESE DESCRIPCION" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="direccion :" />
                                    </td>
                                    <td> <p:inputText value="#{bpersonal.direccion}" size="20" placeholder="DIRECCION"  required="true" requiredMessage="INGRESE DESCRIPCION" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="telefono :" />
                                    </td>
                                    <td> <p:inputText value="#{bpersonal.telefono}" size="20" placeholder="TELEFONO"  required="true" requiredMessage="INGRESE DESCRIPCION" /></td>
                                    </tr>
                                     <tr>
                                        <td>
                                    <h:outputLabel for="name" value="cargo :" />
                                    </td>
                                    <td> <p:inputText value="#{bpersonal.cargo}" size="20" placeholder="CARGO"  required="true" requiredMessage="INGRESE CARGO" /></td>
                                    </tr>
                                     <tr>
                                        <td>
                                    <h:outputLabel for="name" value="login :" />
                                    </td>
                                    <td> <p:inputText value="#{bpersonal.login}" size="20" placeholder="LOGIN"  required="true" requiredMessage="INGRESE LOGIN" /></td>
                                    </tr>
                                      <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Password :" />
                                    </td>
                                    <td> <p:password value="#{bpersonal.password}" size="20" placeholder="PASSWORD"  required="true" requiredMessage="INGRESE PASSWORD" /></td>
                                    </tr>

                                    <tr>

                                    <h:form>
                                        <td><p:commandButton value="ADICIONAR"    actionListener="#{bpersonal.guardar(e)}"  
                                                             update=":nvoTabla"  />
                                        </td>
                                        <td><p:commandButton value="MODIFICAR"    actionListener="#{bpersonal.modificar(e)}"  
                                                             update=":nvoTabla"  />
                                        </td>
                                    </h:form>
                                    </tr>

                                </table>
                            </p:panel>	
                        </h:form>
                        <h:form id="nvoTabla" >

                            <p:dataTable var="ob" value="#{bpersonal.personales}"   rows="10"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15">
                                <p:column headerText="Nro" width="5%" sortBy="#{ob.personalID}" >
                                    <h:outputText value="#{ob.personalID}" />
                                </p:column>
                                <p:column headerText="Nombre"  sortBy="#{ob.nombre}" >
                                    <h:outputText value="#{ob.nombre}" />
                                </p:column>
                                <p:column headerText="telefono"  sortBy="#{ob.telefono}" >
                                    <h:outputText value="#{ob.telefono}" />
                                </p:column>
                                <p:column headerText="Direccion"  sortBy="#{ob.direccion}" >
                                    <h:outputText value="#{ob.direccion}" />
                                </p:column>
                                 <p:column headerText="Cargo"  sortBy="#{ob.cargo}" >
                                    <h:outputText value="#{ob.cargo}" />
                                </p:column>
                                <p:column>
                                    <f:facet name="header">Action</f:facet>
                                    <p:commandButton update=":nvpro:dlgpro" value="Delete" action="#{bpersonal.onSeleccion(ob)}" icon="ui-icon-search" title="View" />
                                </p:column>


                            </p:dataTable>
                        </h:form>





                    </p:panel>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

