<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                  <p:layoutUnit position="north"   size="120"   >
                     <div  style="background-image: url(img/10.jpg); height: 100%; width: 98%; border: 1px solid black;"> 
                        <h2 align="center" >  Realizar Compra </h2>
                    </div>  
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" >
                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>  
                         <p:submenu label="Inventario">
                            <p:menuitem value="Area" url="../inventario/vArea.xhtml" />
                            <p:menuitem value="Color" url="../inventario/vColor.xhtml" />
                            <p:menuitem value="Marca" url="../inventario/vMarca.xhtml" />
                            <p:menuitem value="U.Medida" url="../inventario/vUnidadmedida.xhtml" />
                            <p:menuitem value="Producto" url="../inventario/vProducto.xhtml" />
                            <p:menuitem value="Nota Salida" url="../inventario/vNotasalida.xhtml" />
                             <p:menuitem value="Sock" url="../inventario/vStock.xhtml" />
                        </p:submenu>
                        <p:submenu label="Compra">
                            <p:menuitem value="Proveedor" url="../compra/vProveedor.xhtml" />
                            <p:menuitem value="Compra" url="../compra/vcompra.xhtml" />
                        </p:submenu>
                       <p:submenu label="Venta">
                            <p:menuitem value="Cliente" url="../venta/vCliente.xhtml" />
                            <p:menuitem value="Venta" url="../venta/vVenta.xhtml" />
                            <p:menuitem value="Factura" url="../venta/vFactura.xhtml" />
                       </p:submenu>
                         <p:submenu label="Personal">
                            <p:menuitem value="Personal" url="../personal/vPersonal.xhtml" />
                        </p:submenu>
                  </p:menu>
                </p:layoutUnit>
                <p:layoutUnit position="center"   >
                        
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "    >
                       
                        <h:form id ="nvsa">


                            <p:panel  id="dlgsa" >
                                <p:growl id="messages" />
                                <table>
                                   
                                    <tr>
                                        <td>
                                    <p:outputLabel     value="Fecha :" />
                                    </td>
                                    <td>
                                    <p:calendar   value="#{bnotasalida.fecha}" size="20" placeholder="FECHA" navigator="true" pattern="yyy-MM-dd" mindate="1960-01-01" required="true" requiredMessage="INGRESE FECHA DEL OBRERO"  />
                                    </td>
                                    </tr>
                               
                                    <tr>
                                        <td>
                                    <p:outputLabel value="Productos :" />  
                                    </td>
                                    <td>
                                    <p:selectOneMenu value="#{bnotasalida.producto}"   filter="true" filterMatchMode="contains" required="true" >
                                        <f:selectItem itemLabel="Productos" />
                                        <f:selectItems value="#{bnotasalida.productos}" /> 
                                    </p:selectOneMenu>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <p:outputLabel value="Cantidad :" />
                                    </td>
                                    <td>
                                    <p:inputText value="#{bnotasalida.cantidad}" placeholder="CANTIDAD" required="true" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <p:outputLabel value="Observacion :" />
                                    </td>
                                    <td>
                                    <p:inputText value="#{bnotasalida.observacion}" placeholder="CANTIDAD" required="true" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <p:commandButton value="Agregar"  update=":nvsa:dlgsa" actionListener="#{bnotasalida.adicionarElemento(e)}" />
                                    </td>
                                    </tr>

                                    <tr>
                                    <h:form>
                                        <td>
                                        <p:commandButton value="ADICIONAR"   update=":nvsa:dlgsa"  actionListener="#{bnotasalida.onRegitrar(e)}"  />
                                        </td>
                                    </h:form>
                                    </tr>

                                </table>





                                <p:dataTable var="ob" value="#{bnotasalida.lista}"   scrollable="true"    >
                                    <p:column headerText="Nro" width="5%" sortBy="#{ob.productoID}" >
                                        <h:outputText value="#{ob.productoID}" />
                                    </p:column>
                                    <p:column headerText="Nombre"  sortBy="#{ob.nombre}" >
                                        <h:outputText value="#{ob.nombre}" />
                                    </p:column>
                                    <p:column headerText="Cantidad"  sortBy="#{ob.cantidad}" >
                                        <h:outputText value="#{ob.cantidad}" />
                                    </p:column>
                                    <p:column headerText="Observacion"  sortBy="#{ob.observacion}" >
                                        <h:outputText value="#{ob.observacion}" />
                                    </p:column>


                                    <p:column>
                                        <f:facet name="header">Action</f:facet>
                                        <p:commandButton  image="ui-icon ui-icon-search" action="#{bnotasalida.deleteAction(ob)}" update=":nvsa:dlgsa" /> 
                                    </p:column>


                                </p:dataTable>



                            </p:panel>	
                        </h:form>


                    </p:panel>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

