<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">
                <p:layoutUnit position="north"   size="120"   >
                    <div  style="background-image: url(img/10.jpg); height: 100%; width: 98%; border: 1px solid black;"> 
                        <h2 align="center" >  Gestionar Producto </h2>
                    </div>  
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" >
                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>  
                        <p:submenu label="Inventario">
                            <p:menuitem value="Area" url="../inventario/vArea.xhtml" />
                            <p:menuitem value="Color" url="../inventario/vColor.xhtml" />
                            <p:menuitem value="Marca" url="../inventario/vMarca.xhtml" />
                            <p:menuitem value="U.Medida" url="../inventario/vUnidadmedida.xhtml" />
                            <p:menuitem value="Producto" url="../inventario/vProducto.xhtml" />
                            <p:menuitem value="Nota Salida" url="../inventario/vNotasalida.xhtml" />
                            <p:menuitem value="Stock" url="../inventario/vStock.xhtml" />
                        </p:submenu>
                        <p:submenu label="Compra">
                            <p:menuitem value="Proveedor" url="../compra/vProveedor.xhtml" />
                            <p:menuitem value="Compra" url="../compra/vcompra.xhtml" />
                        </p:submenu>
                        <p:submenu label="Venta">
                            <p:menuitem value="Cliente" url="../venta/vCliente.xhtml" />
                            <p:menuitem value="Venta" url="../venta/vVenta.xhtml" />
                            <p:menuitem value="Factura" url="../venta/vFactura.xhtml" />
                        </p:submenu>
                         <p:submenu label="Personal">
                            <p:menuitem value="Personal" url="../personal/vPersonal.xhtml" />
                        </p:submenu>
                    </p:menu>
                </p:layoutUnit>
                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >
                      
                     
                             
                        <h:form id="nvoTabla" >
                            <p:dataTable var="ob" value="#{bstock.productos}"   rows="10"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15">
                                <p:column headerText="Nro" width="5%" sortBy="#{ob.productoID}" >
                                    <h:outputText value="#{ob.productoID}" />
                                </p:column>
                                <p:column headerText="Nombre"  sortBy="#{ob.nombre}" >
                                    <h:outputText value="#{ob.nombre}" />
                                </p:column>
                                <p:column headerText="Umedia"  sortBy="#{ob.umedida}" >
                                    <h:outputText value="#{ob.umedida}" />
                                </p:column>
                                <p:column headerText="Area"  sortBy="#{ob.area}" >
                                    <h:outputText value="#{ob.area}" />
                                </p:column>
                                <p:column headerText="Marca"  sortBy="#{ob.marca}" >
                                    <h:outputText value="#{ob.marca}" />
                                </p:column>
                                <p:column headerText="Color"  sortBy="#{ob.color}" >
                                    <h:outputText value="#{ob.color}" />
                                </p:column>


                                <p:column headerText="Precio Venta"  sortBy="#{ob.precioV}" >
                                    <h:outputText value="#{ob.precioV}" />
                                </p:column>
                                <p:column headerText="Stock"  sortBy="#{ob.stock}" >
                                    <h:outputText value="#{ob.stock}" />
                                </p:column>
                                <p:column headerText="Stock Min"  sortBy="#{ob.stockmin}" >
                                    <h:outputText value="#{ob.stockmin}" />
                                </p:column>
                                <p:column headerText="Stock Max"  sortBy="#{ob.stockmax}" >
                                    <h:outputText value="#{ob.stockmax}" />
                                </p:column>
                               

                            </p:dataTable>
                        </h:form>





                    </p:panel>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

