<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">
                <p:layoutUnit position="north"   size="120"   >
                    <div  style="background-image: url(img/10.jpg); height: 100%; width: 98%; border: 1px solid black;"> 
                        <h2 align="center" >  Realizar Factura </h2>
                    </div>  
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" >
                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                    <p:menu>  
                        <p:submenu label="Inventario">
                            <p:menuitem value="Area" url="../inventario/vArea.xhtml" />
                            <p:menuitem value="Color" url="../inventario/vColor.xhtml" />
                            <p:menuitem value="Marca" url="../inventario/vMarca.xhtml" />
                            <p:menuitem value="U.Medida" url="../inventario/vUnidadmedida.xhtml" />
                            <p:menuitem value="Producto" url="../inventario/vProducto.xhtml" />
                            <p:menuitem value="Nota Salida" url="../inventario/vNotasalida.xhtml" />
                               <p:menuitem value="Sock" url="../inventario/vStock.xhtml" />
                        </p:submenu>
                        <p:submenu label="Compra">
                            <p:menuitem value="Proveedor" url="../compra/vProveedor.xhtml" />
                            <p:menuitem value="Compra" url="../compra/vcompra.xhtml" />
                        </p:submenu>
                        <p:submenu label="Venta">
                            <p:menuitem value="Cliente" url="../venta/vCliente.xhtml" />
                            <p:menuitem value="Venta" url="../venta/vVenta.xhtml" />
                            <p:menuitem value="Factura" url="../venta/vFactura.xhtml" />
                        </p:submenu>
                         <p:submenu label="Personal">
                            <p:menuitem value="Personal" url="../personal/vPersonal.xhtml" />
                        </p:submenu>
                    </p:menu>
                </p:layoutUnit>
                <p:layoutUnit position="center"   >
                    <p:panel style="background-image: url(../img/10.jpg); background-repeat:no-repeat; width: 100%;height: 100% "  id="dlgstock"  >
                       
                        <h:form id ="nvfac">


                            <p:panel  id="dlgfac" >
                                <p:growl id="messages" />
                                <table>

                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Nit :" />
                                    </td>
                                    <td> <p:inputText value="#{bfactura.nit}" size="20" placeholder="NIT"  required="true" requiredMessage="INGRESE NIT" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Nombre :" />
                                    </td>
                                    <td> <p:inputText value="#{bfactura.nombre}" size="20" placeholder="NOMBRE"  required="true" requiredMessage="INGRESE NOMBRE" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Detalle :" />
                                    </td>
                                    <td> <p:inputText value="#{bfactura.detalle}" size="20" placeholder="DETALLE"  required="true" requiredMessage="INGRESE DETALLE" /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Fecha :" />
                                    </td>
                                    <td> <p:calendar   value="#{bfactura.fecha}" size="20" placeholder="FECHA" navigator="true" pattern="yyy-MM-dd" mindate="1960-01-01" required="true" requiredMessage="INGRESE FECHA DEL OBRERO"  /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Ventas :" />
                                    </td>
                                    <td><p:selectOneMenu id="cbve" value="#{bfactura.venta}" required="true" requiredMessage="PROVEEDORES" >
                                        <f:selectItem itemLabel="Seleccione" itemValue="" />
                                        <f:selectItems value="#{bfactura.ventas}" />
                                    </p:selectOneMenu>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <h:outputLabel for="name" value="Total :" />
                                    </td>
                                    <td> <p:inputText value="#{bfactura.total}" size="20" placeholder="TOTAL"  required="true" requiredMessage="INGRESE TOTAL" /></td>
                                    </tr>

                                    <tr>

                                    <h:form>
                                        <td><p:commandButton value="ADICIONAR"    actionListener="#{bcliente.guardar(e)}"  
                                                             update=":nvoTabla"  />
                                        </td>

                                    </h:form>
                                    </tr>

                                </table>
                            </p:panel>	
                        </h:form>
                        <h:form id="nvoTabla" >
                            <p:dataTable var="ob" value="#{bfactura.facturas}"  rows="10"
                                         paginator="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15">
                                <p:column headerText="Nro" width="5%" sortBy="#{ob.facturaID}" >
                                    <h:outputText value="#{ob.facturaID}" />
                                </p:column>
                                <p:column headerText="Detalle"  sortBy="#{ob.detalle}" >
                                    <h:outputText value="#{ob.detalle}" />
                                </p:column>
                                <p:column headerText="fecha"  sortBy="#{ob.fecha}" >
                                    <h:outputText value="#{ob.fecha}" />
                                </p:column>
                                <p:column headerText="Nit"  sortBy="#{ob.nit}" >
                                    <h:outputText value="#{ob.nit}" />
                                </p:column>
                                <p:column headerText="Venta"  sortBy="#{ob.ventaID}" >
                                    <h:outputText value="#{ob.ventaID}" />
                                </p:column>
                                <p:column headerText="Total"  sortBy="#{ob.total}" >
                                    <h:outputText value="#{ob.total}" />
                                </p:column>




                            </p:dataTable>
                        </h:form>





                    </p:panel>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

