<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Control Almacen C.E.I</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true"   >

                 <p:layoutUnit position="north"   size="120"   >
                     <div  style="background-image: url(img/10.jpg); height: 100%; width: 98%; border: 1px solid black;"> 
                        <h2 align="center" >  Realizar Venta </h2>
                    </div>  
                </p:layoutUnit>
                <p:layoutUnit position="south" size="100" >
                    <h:form>
                        <h:commandButton value="Salir" action="#{loginbeans.logout}"/>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="Left" >
                    <p:menu>  
                         <p:submenu label="Inventario">
                            <p:menuitem value="Area" url="../inventario/vArea.xhtml" />
                            <p:menuitem value="Color" url="../inventario/vColor.xhtml" />
                            <p:menuitem value="Marca" url="../inventario/vMarca.xhtml" />
                            <p:menuitem value="U.Medida" url="../inventario/vUnidadmedida.xhtml" />
                            <p:menuitem value="Producto" url="../inventario/vProducto.xhtml" />
                            <p:menuitem value="Nota Salida" url="../inventario/vNotasalida.xhtml" />
                             <p:menuitem value="Sock" url="../inventario/vStock.xhtml" />
                        </p:submenu>
                        <p:submenu label="Compra">
                            <p:menuitem value="Proveedor" url="../compra/vProveedor.xhtml" />
                            <p:menuitem value="Compra" url="../compra/vcompra.xhtml" />
                        </p:submenu>
                        <p:submenu label="Venta">
                            <p:menuitem value="Cliente" url="../venta/vCliente.xhtml" />
                            <p:menuitem value="Venta" url="../venta/vVenta.xhtml" />
                            <p:menuitem value="Factura" url="../venta/vFactura.xhtml" />
                       </p:submenu>
                         <p:submenu label="Personal">
                            <p:menuitem value="Personal" url="../personal/vPersonal.xhtml" />
                        </p:submenu>
                  </p:menu>
                </p:layoutUnit>

                <p:layoutUnit position="center"   >
                    
                    <p:panel  >
                         
                        <h:form id ="nvventa">


                            <p:panel  id="dlgventa" >
                                <p:growl id="messages" />
                                <table>
                                    <tr>
                                        <td>
                                            <h:outputLabel  value="Fecha :" />
                                        </td>
                                         <td> <p:calendar   value="#{bventa.fecha}" size="20" placeholder="FECHA" navigator="true" pattern="yyy-MM-dd" mindate="1960-01-01" required="true" requiredMessage="INGRESE FECHA DEL OBRERO"  /></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h:outputLabel  value="Descuento :" />
                                        </td>
                                        <td> <p:inputText value="#{bventa.descuento}" size="20" placeholder="DESCUENTO"  required="true" requiredMessage="INGRESE DESCUENTO" /></td>
                                    </tr>
                                    <tr>
                                       
                                        <td>
                                            <h:outputLabel  value="Clientes :" />
                                        </td>

                                        <td><p:selectOneMenu id="catego" value="#{bventa.cliente}" filter="true" filterMatchMode="contains" required="true" >
                                                <f:selectItem itemLabel="CLIENTES" itemValue="" />
                                                <f:selectItems value="#{bventa.clientes}" />
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>

                              
                                    <tr>
                                        <td>
                                            <h:outputLabel for="name" value="Productos :" />
                                        </td>
                                        <td>
                                            <p:selectOneMenu value="#{bventa.producto}"   filter="true" filterMatchMode="contains" required="true" >
                                                <f:selectItem itemLabel="Productos" />
                                                <f:selectItems value="#{bventa.productos}" /> 
                                            </p:selectOneMenu>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:outputLabel value="Cantidad :" />
                                        </td>
                                        <td>
                                            <p:inputText value="#{bventa.cantidad}" placeholder="CANTIDAD" required="true" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:outputLabel     value="Precio :" />
                                        </td>
                                        <td>
                                            <p:inputText value="#{bventa.precio}" placeholder="PRECIO" required="true" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p:commandButton value="Agregar"   update=":nvventa:dlgventa"  actionListener="#{bventa.adicionarElemento(e)}" />
                                        </td>
                                    </tr>
                                    <tr>

                                        <h:form>
                                            <td><p:commandButton value="ADICIONAR"    actionListener="#{bventa.onRegitrar(e)}"  
                                                                 update=":nvventa:dlgventa"  />
                                            </td>
                                        </h:form>
                                    </tr>
                                </table>




                                <h3> Productos </h3>
                                <p:dataTable var="p" id="tedetalle" value="#{bventa.lista}"  scrollable="true" 
                                             editable="true"   style="width:60%" >

                                    <p:column headerText="Descripsion"   >                                       
                                        <h:outputText value="#{p.descripcion}" />
                                    </p:column>
                                    <p:column headerText="Cantidad" style="width:25%">
                                        <h:outputText value="#{p.cantidad}" />                                        
                                    </p:column>
                                    <p:column headerText="Precio" style="width:25%">
                                        <h:outputText value="#{p.precio}" />                                        
                                    </p:column>

                                    <p:column headerText="subTotal" style="width:25%">
                                        <h:outputText value="#{p.subtotal}" />  
                                    </p:column>

                                    <p:column style="width:32px">  
                                        <p:commandButton  image="ui-icon ui-icon-search" action="#{bventa.deleteAction(p)}"   update=":nvventa:dlgventa"  /> 

                                    </p:column>


                                </p:dataTable>

                                <h2  > Total Item : <h:outputText value="#{bventa.total}" /> </h2> 
                            </p:panel>
                        </h:form>

                    </p:panel>
                </p:layoutUnit>

            </p:layout>


        </h:body>

    </f:view>
</html>







